<div class="players">
  <table class="table" mat-table [dataSource]="lobbyStore.lobbyPlayers$ | async" *ngIf="lobbyStore.lobbyPlayers$ | async">

    <ng-container matColumnDef="isOwner">
      <td mat-cell *matCellDef="let element">
        <mat-icon [svgIcon]="'crown-solid'" *ngIf="element?.isOwner"></mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <td mat-cell *matCellDef="let element">
        <div class="mat-table__label">{{ 'lobby.label.playerName' | translate }}</div>
        <div class="mat-table__value">{{ element.username }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="isReady">
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button
                [disabled]="element.username != auth?.getUsername()"
                (click)="onToggleReadiness(element)">
          {{ element.isReady ? ('lobby.button.ready' | translate) : ('lobby.button.notReady' | translate) }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="kickPlayer">
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button *ngIf="isKickButtonVisible(element)" (click)="onKickPlayer(element)">
          {{ 'lobby.button.kick' | translate}}
        </button>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['isOwner', 'username', 'isReady', 'kickPlayer'];"></tr>
  </table>
</div>
