@font-face {
  font-family: 'Gameria';
  src: url(../assets/fonts/Gameria.ttf) format("opentype");
}

@font-face {
  font-family: 'SigmarOne';
  src: url(../assets/fonts/SigmarOne.ttf) format("opentype");
}
