$primary-color: #FF6A4F;
$primary-color-transparent: #FF6A4FCC;
$primary-color-opposite: #FFF;
$primary-color-opposite-transparent: #FFFFFFCD;

$secondary-color: #923840FF;
$secondary-color-transparent: #AE4043CC;
$secondary-color-opposite: #1F1B30;
$secondary-color-opposite-transparent: #1F1B3080;

$primary-gradient: linear-gradient(130deg, #1F1B30 0%, #2A1B30 100%);
$primary-gradient-transparent: linear-gradient(130deg, #1F1B30CC 0%, #2A1B30CC 100%);

$primary-border: 2px solid #000;
$secondary-border: 1px solid #000;
$primary-border-radius: 2px;
$secondary-border-radius: 4px;

$primary-font: SigmarOne, sans-serif;
