<div mat-dialog-title>
  <h2 class="mat-dialog-title__label">{{ 'register.title' | translate }}</h2>

  <button class="mat-dialog-title__close-button" mat-icon-button [mat-dialog-close]="false">
    <mat-icon svgIcon="times-square-solid"></mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>{{ 'register.label.username' | translate }}</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="username">
      <mat-error *ngIf="form.controls['username'].hasError('required')">{{ 'error.username-required' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'register.label.password' | translate }}</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'">
      <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="form.controls['password'].hasError('required')">{{ 'error.password-required' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'register.label.email' | translate }}</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="form.controls['email'].hasError('required')">{{ 'error.email-required' | translate }}</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-flat-button (click)="onLogin()" >{{ 'login.button.login' | translate }}</button>
  <button mat-flat-button (click)="onRegister()" [disabled]="form.invalid">{{ 'register.button.register' | translate }}</button>
</div>

<loader *ngIf="authStore.registerLoading$ | async" [background]="true"></loader>

